html {
    box-sizing: border-box;
}
/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #188CE8;
    --secondary-background-color: #F5F5F5;
    --background-color: #FFFFFF;
    --third-background-color: #F5F4FA;
    --fourth-background-color: #2F303A;
    --first-border-color: #ECECEC;
    --second-border-color: #EEEEEE;
}
h1, 
h2, 
h3, 
h4,
h5,
h6,
p,
ul
{
    margin-top: 0;
    margin-bottom: 0; 
}
 
img {
    display: block;
    max-width: 100%;
}

body {
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: var(--background-color);
    color: var(--title-text-color);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* Header */
.page-header {
    border-bottom: 1px solid var(--first-border-color);
}

.page-header .container {
    display: flex;
    flex-direction: row;
   align-items: center;
background: var(--background-color);

}

.container {
    /* display: inline-block; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid red; */
}

.section {
    padding: 94px 0;
}

.logo {
    
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    width: 145px;
       
        text-decoration: none;
        font-family: 'Raleway';
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            /* identical to box height */
        
            
        
            color: var(--accent-color);
}

.text-logo {
    color: var(--title-text-color);
}

.navigation {

}

.site-nav {
    display: flex;
    min-width: 281px;
    justify-content: space-between;
}
.site-nav  .link {
    
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    width: 281px;
        height: 16px;
        left: 453px;
        top: 32px;
}
.site-nav .link:hover, 
.site-nav .link:focus {
color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

.contacts-header {
    width: 307px;
    display: flex;
    justify-content: space-between;
   margin-left: 344px;
}

.contacts-header  .link {
    text-decoration: none;
    font-weight: 500;
    
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
.contacts-header .link:hover,
.contacts-header .link:focus {
color: var(--accent-color);
}
/* Main */
.maim {

    /* hero */
}
.hero {
    /* outline: 1px solid red; */
    background-color: var(--fourth-background-color);
    text-align: center;
    height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero .title {
    /* outline: 1px solid red; */
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--background-color);
    margin-top: 0;
    margin-bottom: 30px;
}
.button {
    /* outline: 1px solid red; */

    padding: 10px 32px;
    min-width: 216px;

    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
    
        display: inline-block;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: var(--background-color);
        background: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;

            cursor: pointer;


 }
 .button:hover, .button:focus {
    background-color: var(--second-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
 }

 /* Features */

 .features {
   
    /* outline: 1px solid red; */
background: var(--background-color);
 }

 .visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
 }

 .features-list {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
 }

 .features-item {
    width: 270px;
    
 }

.features .title {
   
        font-weight: 700;
        
        line-height: 1.14;
        
        text-transform: uppercase;
    
        color: var(--title-text-color);
}
.features .text {
    margin-top: 10px;
        font-weight: 400;
        
        line-height: 1.71;
        /* or 171% */
    
       
    
        color: var(--main-text-color);
}
/* Work */
.work {
   padding-top: 0;

}
.work .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        
    
        color: var(--title-text-color);
}
.work-list img {
display: block;
}
.work-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
.link1 {

}

.link2 {

}

.link3 {

}

/* Team */
.team {
    padding-bottom: 94px;
    background: var(--third-background-color);
}

.team .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
       margin-bottom: 50px;
    
        color: var(--title-text-color);
}

.cards img {
    display: block;
}
.card {
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    width: 270px;
}
.cards{
    display: flex;
    justify-content: space-between;

    /* outline: 1px solid red; */
    /* margin-top: 50px; */
    

}

.name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
    
        text-align: center;
        margin-top: 30px;
    
        color: var(--title-text-color);
}
.position {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
    
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: var(--main-text-color);
}

/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--fourth-background-color);
}
.links {
    
}

.address-footer {
    margin-top: 20px;
}
.links .link{
        font-weight: 400;
       
        line-height: 1.71;
        /* or 171% */
        text-decoration: none;
    
        
    
        color: rgba(255, 255, 255, 0.6);
}
.links .link:hover,
.links .link:focus {
    color: var(--accent-color);
}

.map {
        font-weight: 400;
        
        line-height: 1.71;
        /* or 171% */
        text-decoration: none;
    
        
    
        color: var(--background-color);
}

.map:hover,
.map:focus {
    color: var(--accent-color);
}

.text-logo1 {
        color: var(--background-color);
}

           /* PORTFOLIO PAGE */

/* Filters */
.portfolio {
    
}
.visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
/* 
.container .buttons:last-child {
    margin-right: 0;
}

.buttons:last-child li {
    margin-right: 8px;
}

.buttons li:last-child {
    margin-right: 0;
} */

.buttons {
    min-width: 575px;
    display: flex;
        justify-content: center;
        margin-left: auto ;
        margin-right: auto;
        padding-bottom: 16px;
    }
.button-filter {
    display: inline-block;
    padding: 6px 22px;
    font-family: inherit;
        font-weight: 500; 
        font-size: 16px;
        line-height: 1.62;
        /* identical to box height, or 162% */
    padding: 6px 22px;
    /* min-width: auto; */
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        
        
    
        color: var(--title-text-color);

        cursor: pointer;

        background: var(--third-background-color);
        border: solid transparent;
            border-radius: 4px;
}

.button-filter:hover,
.button-filter:focus {
color: var(--background-color);
background: var(--accent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08), 
 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.all {
    padding: 6px 25px;
    margin-right: 8px;
    min-width: 73px;
}
.web-sites {
    margin-right: 8px;
    min-width: 125px;
}
.applications {
    margin-right: 8px;
    min-width: 112px;
}
.design {
    margin-right: 8px;
    min-width: 103px;
}
.marketing {
    margin-right: 0;
    min-width: 130px;
}
 .portfolio-title {
  
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
        padding-top: 20px;
        margin-right: 24px;
        margin-left: 24px;
        width: 322px;
    
        letter-spacing: 0.06em;
    
        color: var(--title-text-color);
 }

 .portfolio-text {
   
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
        margin-top: 4px;
        margin-right: 24px ;
        margin-left: 24px;
        margin-bottom: 20px;
        
    
        color: var(--main-text-color);
 }

 .portfolio-list {
    margin-top: 34px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

 .portfolio-text-title-item {
    border-left: 1px solid var(--second-border-color);
    border-right: 1px solid var(--second-border-color);
    border-bottom: 1px solid var(--second-border-color);
 }

 .portfolio-card {
    text-decoration: none;
 }
 
 .portfolio-list-item {
    padding: 20px 24px;
    background-color: var(--background-color);
    width: 370px;
            flex-basis: calc((100% - 60px) / 3);
 }