html {
    box-sizing: border-box;
}
/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #F5F5F5;
    --white-color: #FFFFFF;
}
h1, 
h2, 
h3, 
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    
}

body {
    
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: var(--white-color);
    color: var(--title-text-color);
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* Header */
.page-header .container {
    display: flex;
    flex-direction: row;
   align-items: center;
background: var(--white-color);
border-bottom: 1px solid #ECECEC;;
}

.container {
    /* display: inline-block; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

.logo {
    
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    width: 145px;
       
        text-decoration: none;
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            /* identical to box height */
        
            
        
            color: var(--accent-color);
}

.text-logo {
    color: var(--title-text-color);
}

.navigation {

}

.site-nav {
    display: flex;
    min-width: 281px;
    justify-content: space-between;
}
.site-nav  .link {
    
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    width: 281px;
        height: 16px;
        left: 453px;
        top: 32px;
}
.site-nav .link:hover, 
.site-nav .link:focus {
color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

.contacts-header {
    width: 307px;
    display: flex;
    justify-content: space-between;
   margin-left: 344px;
}

.contacts-header  .link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
.contacts-header .link:hover,
.contacts-header .link:focus {
color: var(--accent-color);
}
/* Main */
.maim {

    /* hero */
}
.hero {
    outline: 1px solid red;
    background-color: #2F303A;
    text-align: center;
    height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero .title {
    outline: 1px solid red;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
    margin-top: 0;
    margin-bottom: 30px;
}
.button {
    outline: 1px solid red;

    padding: 10px 32px;
    min-width: 216px;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
    
        display: inline-block;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: var(--white-color);
        background: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;

            cursor: pointer;


 }
 .button:hover, .button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
 }

 /* Features */

 .features {
    margin-top: 94px;
    outline: 1px solid red;
background: var(--white-color);
 }

 .visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
 }

 .features-list {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
 }

 .features-item {
    width: 270px;
    
 }

.features .title {
   
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        
        line-height: 1.14;
        
        text-transform: uppercase;
    
        color: var(--title-text-color);
}
.features .text {
    margin-top: 10px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        
        line-height: 1.71;
        /* or 171% */
    
       
    
        color: var(--main-text-color);
}
/* Work */
.work {
    margin-top: 94px;

}
.work .title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        
    
        color: var(--title-text-color);
}
.work-list img {
display: block;
}
.work-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
.link1 {

}

.link2 {

}

.link3 {

}

/* Team */
.team {
   
    margin-top: 94px;
    padding-top: 94px;
    padding-bottom: 94px;
background: #F5F4FA;
}

.team .title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
       margin-bottom: 50px;
    
        color: var(--title-text-color);
}

.cards img {
    display: block;
}
.card {
    width: 270px;
}
.cards{
    display: flex;
    justify-content: space-between;

    outline: 1px solid red;
    /* margin-top: 50px; */
    

}

.name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
    
        text-align: center;
        
    
        color: var(--title-text-color);
}
.position {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
    
        text-align: center;
        
    
        color: var(--main-text-color);
}

/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}
.links {
    
}

.address-footer {
    margin-top: 20px;
}
.links .link{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
       
        line-height: 1.71;
        /* or 171% */
        text-decoration: none;
    
        
    
        color: rgba(255, 255, 255, 0.6);
}
.links .link:hover,
.links .link:focus {
    color: var(--accent-color);
}

.map {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        
        line-height: 1.71;
        /* or 171% */
        text-decoration: none;
    
        
    
        color: var(--white-color);
}

.map:hover,
.map:focus {
    color: var(--accent-color);
}

.text-logo1 {
        color: var(--white-color);
}

           /* PORTFOLIO PAGE */

/* Filters */
.portfolio {
    margin-top: 94px;
}
.visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

.buttons {
    width: 575px;
    display: flex;
        justify-content: space-between;
        margin-left: auto ;
        margin-right: auto;
        padding-bottom: 16px;
    }
.button-filter {
    display: inline-block;
    padding: 6px 22px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        /* identical to box height, or 162% */
    
        text-align: center;
        
    
        color: var(--title-text-color);

        cursor: pointer;

        background: #F5F4FA;
        border: solid transparent;
            border-radius: 4px;
}

.button-filter:hover,
.button-filter:focus {
color: var(--white-color);
background: var(--accent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08), 
 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

 .portfolio-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: var(--title-text-color);
 }

 .portfolio-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
    
        
    
        color: var(--main-text-color);
 }

 .portfolio-list {
    margin-top: 34px;
 }
 